body {
    background-color: #15151E;
}

.navbar-nav .nav-link {
    color: whitesmoke;
    transition: all 0.5s ease;
}

.navbar-nav .nav-link {
    color: whitesmoke;
    transition: all 0.5s ease;
}


.navbar-nav .nav-link:hover {
    color: red;
    transform: scale(1.1);
}

.navbar-nav:last-child {
    border-right: 1px solid whitesmoke;
}

.separator {
    color: #ffffff;
    margin: 0 10px;
    font-size: 1.2rem;
}

.slides {
    border-bottom: 1px solid black;
    background-image: url("");
    height: 30rem;
}